<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-Library</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminServlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>pac.AdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddStudentServ</display-name>
    <servlet-name>AddStudentServ</servlet-name>
    <servlet-class>pac.AddStudentServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddStudentServ</servlet-name>
    <url-pattern>/AddStudentServ</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>listerner.ContextListener</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>addPublicationServ</display-name>
    <servlet-name>addPublicationServ</servlet-name>
    <servlet-class>pac.addPublicationServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addPublicationServ</servlet-name>
    <url-pattern>/addPublicationServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLibraryServ</display-name>
    <servlet-name>AddLibraryServ</servlet-name>
    <servlet-class>pac.AddLibraryServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLibraryServ</servlet-name>
    <url-pattern>/AddLibraryServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLanguageServ</display-name>
    <servlet-name>AddLanguageServ</servlet-name>
    <servlet-class>pac.AddLanguageServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLanguageServ</servlet-name>
    <url-pattern>/AddLanguageServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddBookServ</display-name>
    <servlet-name>AddBookServ</servlet-name>
    <servlet-class>pac.AddBookServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddBookServ</servlet-name>
    <url-pattern>/AddBookServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddAuthorServ</display-name>
    <servlet-name>AddAuthorServ</servlet-name>
    <servlet-class>pac.AddAuthorServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddAuthorServ</servlet-name>
    <url-pattern>/AddAuthorServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>pac.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserAllBookserv</display-name>
    <servlet-name>UserAllBookserv</servlet-name>
    <servlet-class>pac.UserAllBookserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserAllBookserv</servlet-name>
    <url-pattern>/UserAllBookserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnBookServ</display-name>
    <servlet-name>ReturnBookServ</servlet-name>
    <servlet-class>pac.ReturnBookServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnBookServ</servlet-name>
    <url-pattern>/ReturnBookServ</url-pattern>
  </servlet-mapping>
</web-app>